@using EduHome.DataAccessLayer.Entity;
@model HeaderTop

<!-- Header Area Start -->
<header class="top">
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-12">
					<div class="header-top-left">
						<p>HAVE ANY QUESTION ?  @Model.Connection</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="header-top-right text-right">
						<ul>
							@foreach(var item in Model.TopNavigations)
							{
								<li><a href="@item.Link">@item.Title</a></li>
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
