@using EduHome.DataAccessLayer.Entity;
@model List<Teacher>

    @foreach(var item in Model)
    {
        <li>
            <a asp-controller="teacher" asp-action="details" asp-route-id="@item.Id">
                @item.FullName
            </a>
        </li>
    }